Repository nodefluxio/weber, pull requests merged in 2021-11, with the labels that each got.

#58 [Backend] multistage docker: binarized app on runtime
  backend/Dockerfile
  backend/dev.Dockerfile
Labels: improvement, backend

#61 Handle args for migrate, migrate-fresh, seed, and refresh
  backend/README.md
  backend/args.go
  backend/database/migrate.go
  backend/main.go
Labels: improvement, backend

#59 add algorithm to dynamically generate analytic result, fix issue Backend URL not set properly in axios baseURL
  frontend/.env.example
  frontend/.eslintrc.json
  frontend/README.md
  frontend/app/components/modules/AnalyticsResultWrapper/AnalyticsResultWrapper.module.scss
  frontend/app/components/modules/Card/Card.module.scss
  frontend/app/components/modules/Card/Card.tsx
  frontend/app/components/modules/CardContent/CardContent.module.scss
  frontend/app/components/modules/Carousel/Carousel.module.scss
  frontend/app/components/modules/CarouselItem/CarouselItem.module.scss
  frontend/app/components/modules/CarouselItem/CarouselItem.tsx
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/Feedback/Feedback.module.scss
  frontend/app/components/modules/Navbar/Navbar.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/components/templates/RequestDemoPage/RequestDemoPage.module.scss
  frontend/app/types/responses.ts
  frontend/app/utils/axios/axiosConfig.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/analytics/[analytic_name].module.scss
  frontend/pages/analytics/[analytic_name].tsx
  frontend/pages/analytics/analytics_result.json
  frontend/public/assets/images/analytics/face-match-enrollment.png
  frontend/public/assets/images/analytics/license-plate-recognition.png
  frontend/public/assets/images/analytics/lpr.png
  frontend/public/assets/images/analytics/ocr-ktp.png
Labels: documentation, enhancement, improvement, frontend

#60 Added special instruction field and set a unique index on a slug in the services table
  backend/README.md
  backend/database/seed.go
  backend/models/service.go
Labels: documentation, enhancement, backend

#66 move displayResult in [analytic_name].tsx to AnalyticResult to make it reusable
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.module.scss
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResult/analytics_result.json
  frontend/pages/analytics/[analytic_name].module.scss
  frontend/pages/analytics/[analytic_name].tsx
Labels: enhancement

#70 add Navbar functionality besides only work in home page
  frontend/app/components/modules/Navbar/Navbar.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
Labels: enhancement, frontend

#67 [Beat] Sub-grouping existing routes to group /api/v1
  backend/README.md
  backend/routes.go
Labels: documentation, enhancement, backend

#69 [Beat] Add table model schema for face payment
  backend/database/migrate.go
  backend/models/face_payment.go
Labels: enhancement, backend

#73 change ekyc static props to serverside
  frontend/pages/solutions/ekyc.tsx
Labels: bug, frontend

#71 Fix: unable to resolve backend URL on frontend in local docker compose env.
  .env.example
  .gitignore
  CHANGELOG.md
  README.md
  backend/Dockerfile
  backend/README.md
  backend/docker-compose.yml
  backend/docker-entrypoint.sh
  docker-compose.yml
  nginx.conf
Labels: bug, documentation, enhancement

#75 change onClick to onTryAgain and add afterSubmit props
  frontend/app/components/modules/Feedback/Feedback.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
Labels: enhancement, frontend

#76 create spinner
  frontend/app/components/elements/Spinner/Spinner.module.scss
  frontend/app/components/elements/Spinner/Spinner.tsx
Labels: enhancement, frontend

#65 add backend and frontend deployment yaml
  deployment/backend.yaml
  deployment/frontend.yaml
Labels: enhancement, devops

#77 [FE] Face Payment Template Page Component
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.module.scss
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/pages/solutions/face-payment.tsx
Labels: frontend

#83 fix onClick's feedback in EkycPage
  frontend/app/components/templates/EkycPage/EkycPage.tsx
Labels: frontend

#68 [Beat] Refactor E-KYC Solution API for 1x Hit
  backend/README.md
  backend/controllers/analytic.go
  backend/controllers/ekyc.go
  backend/controllers/innovation.go
  backend/controllers/request.go
  backend/controllers/service.go
  backend/controllers/solution.go
  backend/models/service.go
  backend/routes.go
Labels: documentation, enhancement, backend

#84 Refactor fetch services endpoint 3 times to be 1 time in landing page
  frontend/pages/index.tsx
Labels: enhancement, frontend

#79 [Beat] Face Payment Account Registration
  backend/.env.example
  backend/README.md
  backend/controllers/analytic.go
  backend/controllers/face_payment.go
  backend/database/seed.go
  backend/go.mod
  backend/go.sum
  backend/models/face_payment.go
  backend/routes.go
Labels: documentation, enhancement, backend

#81 [Beat] Face Payment Add Pin & Account Activation
  backend/README.md
  backend/controllers/analytic.go
  backend/controllers/face_payment.go
  backend/models/face_payment.go
  backend/routes.go
Labels: documentation, enhancement, backend

#78 Refactor user flow eKYC solutions
  frontend/app/api/solutionsAPI.ts
  frontend/app/components/modules/Cam/Cam.tsx
  frontend/app/components/modules/FaceLiveness/FaceLiveness.module.scss
  frontend/app/components/modules/FaceLiveness/FaceLiveness.tsx
  frontend/app/components/templates/EkycPage/EkycPage.module.scss
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/constants/localStorage.ts
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/app/utils/localStorage/localStorage.ts
Labels: enhancement, frontend

#85 [Beat] Restore deleted ekyc route on previous resolve conflict
  backend/routes.go
Labels: bug, backend

#82 add Catalog, Cart, OrderSummary, FaceRegistration component, and add it to FacePaymentPage
  CHANGELOG.md
  frontend/.env.example
  frontend/app/api/analyticsAPI.ts
  frontend/app/api/paymentAPI.ts
  frontend/app/components/elements/Button/Button.module.scss
  frontend/app/components/elements/Button/Button.tsx
  frontend/app/components/modules/CardImage/CardImage.tsx
  frontend/app/components/modules/Cart/Cart.module.scss
  frontend/app/components/modules/Cart/Cart.tsx
  frontend/app/components/modules/Catalog/Catalog.module.scss
  frontend/app/components/modules/Catalog/Catalog.tsx
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.module.scss
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/FaceRegistration/FaceRegistration.tsx
  frontend/app/components/modules/Feedback/Feedback.tsx
  frontend/app/components/modules/OrderSummary/OrderSummary.module.scss
  frontend/app/components/modules/OrderSummary/OrderSummary.tsx
  frontend/app/components/modules/PaymentForm/PaymentForm.module.scss
  frontend/app/components/modules/PaymentForm/PaymentForm.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.module.scss
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/constants/localStorage.ts
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/pages/solutions/face-payment.tsx
  frontend/public/assets/icons/shopping-cart.svg
  frontend/public/assets/icons/thankyou.svg
  frontend/public/assets/icons/warning.svg
  frontend/public/assets/images/solutions/face-payment/teh-botol.png
  frontend/tsconfig.json
Labels: enhancement, frontend

#86 hotfix analyticsPage
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
Labels: bug, frontend

#87 Hotfix FE Build
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
Labels: bug, frontend

#88 change hardcoded to dynamic ekyc id
  frontend/app/components/templates/EkycPage/EkycPage.tsx
Labels: bug

#92 Refactor
  CHANGELOG.md
  backend/controllers/activity.go
  backend/controllers/ekyc.go
  backend/controllers/face_payment.go
  backend/controllers/feedback.go
  backend/controllers/main.go
  backend/controllers/service.go
  backend/controllers/session.go
  backend/controllers/visitor.go
  backend/database/connect.go
  backend/database/seed.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/models/face_payment.go
  backend/models/feedback.go
  backend/models/main.go
  backend/models/service.go
  backend/models/visitor.go
  backend/models/visitor_activity.go
  backend/routes.go
  backend/utils/validator.go
Labels: enhancement, backend

#96 Feat/favicons
  frontend/pages/_document.tsx
  frontend/public/favicon.ico
  frontend/public/favicon/favicon-16x16.png
  frontend/public/favicon/favicon-32x32.png
  frontend/public/favicon/favicon-96x96.png
  frontend/public/vercel.svg
Labels: enhancement, frontend

#98 Feat/add title
  frontend/pages/analytics/[analytic_name].tsx
  frontend/pages/index.tsx
  frontend/pages/request-demo/index.tsx
  frontend/pages/solutions/ekyc.tsx
  frontend/pages/solutions/face-payment.tsx
Labels: enhancement, frontend

#99 [Beat] Add PATCH & del unused HTTP method in CORS handler
  backend/middleware.go
Labels: bug, backend

#90 [Beat] Add requester to face match w/ enrollment
  backend/controllers/analytic.go
Labels: enhancement, backend

#105 Fixed unresolved import on frontend
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/solutions/ekyc.tsx
Labels: bug, frontend

#103 Add Github Action to Build Backend & Frontend
  .github/workflows/CI.yml
Labels: enhancement

#100 Fix responsiveness on some page and component, update UI
  frontend/app/components/elements/Button/Button.module.scss
  frontend/app/components/elements/Stepper/Stepper.module.scss
  frontend/app/components/modules/AnalyticsContainer/AnalyticsContainer.tsx
  frontend/app/components/modules/AnalyticsResultWrapper/AnalyticsResultWrapper.module.scss
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/modules/Banner/Banner.tsx
  frontend/app/components/modules/Cam/Cam.module.scss
  frontend/app/components/modules/Cam/Cam.tsx
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/Feedback/Feedback.module.scss
  frontend/app/components/modules/Feedback/Feedback.tsx
  frontend/app/components/modules/Navbar/Navbar.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/modules/RequestDemoFormPopup/RequestDemoFormModal.tsx
  frontend/app/components/modules/SmoothScroll/SmoothScroll.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.module.scss
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/components/templates/EkycPage/EkycPage.module.scss
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/components/templates/RequestDemoPage/RequestDemoPage.module.scss
  frontend/app/styles/abstracts/_variables.scss
  frontend/app/styles/base/_base.scss
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
  frontend/pages/analytics/[analytic_name].tsx
  frontend/public/assets/images/analytics/face-match-enrollment/banner.jpg
  frontend/public/assets/images/analytics/license-plate-recognition/banner.jpg
  frontend/public/assets/images/analytics/ocr-ktp/banner.jpg
  frontend/public/assets/images/face-cam-overlay-circle.png
  frontend/public/assets/images/face-cam-overlay-rect.png
  frontend/public/assets/images/innovations/rotten-fruit.jpg
  frontend/public/assets/images/innovations/rotten-fruit.png
Labels: enhancement, frontend

#93 Update the Dockerfile in backend to work on Windows
  backend/Dockerfile
Labels: bug, backend

#97 Created Account Activation Pin Form + Minimum Payment
  frontend/.env.example
  frontend/app/api/paymentAPI.ts
  frontend/app/components/elements/PinInput/PinInput.module.scss
  frontend/app/components/elements/PinInput/PinInput.tsx
  frontend/app/components/modules/ActivationForm/ActivationForm.module.scss
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
  frontend/app/components/modules/PaymentSetup/PaymentSetup.module.scss
  frontend/app/components/modules/PaymentSetup/PaymentSetup.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/constants/amounts.ts
  frontend/app/types/responses.ts
Labels: enhancement, frontend

#106 Feat/hotfix ekyc mvp 2
  frontend/app/components/templates/EkycPage/EkycPage.tsx
Labels: bug, frontend

#107 fix DropzoneOptions to use fixed width in dekstop
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
Labels: enhancement, frontend

#109 Modify AnalyticResult to able to use thumbnails and show multiple result
  frontend/app/api/analyticsAPI.ts
  frontend/app/components/elements/SelectBox/SelectBox.module.scss
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.module.scss
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResult/analytics_result.json
  frontend/app/components/modules/AnalyticsResultWrapper/AnalyticsResultWrapper.module.scss
  frontend/app/components/modules/AnalyticsResultWrapper/AnayticsResultWrapper.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/types/responses.ts
  frontend/public/assets/images/analytics/license-plate-recognition/example2.jpg
  frontend/public/assets/images/analytics/license-plate-recognition/example3.jpg
Labels: enhancement, frontend

#110 Add face payment activation success state
  frontend/app/components/modules/ActivationForm/ActivationForm.module.scss
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
  frontend/app/components/modules/PaymentSetup/PaymentSetup.module.scss
  frontend/app/components/modules/PaymentSetup/PaymentSetup.tsx
Labels: frontend

#111 [Beat] Add new analytics & remove unnecessary seeds
  .env.example
  backend/.env.example
  backend/database/seed.go
Labels: enhancement, backend

#112 Fix OrderSummary calculation, add format money utility, add item list for Catalog
  frontend/app/components/modules/CardImage/CardImage.tsx
  frontend/app/components/modules/Cart/Cart.module.scss
  frontend/app/components/modules/Cart/Cart.tsx
  frontend/app/components/modules/Catalog/Catalog.tsx
  frontend/app/components/modules/OrderSummary/OrderSummary.module.scss
  frontend/app/components/modules/OrderSummary/OrderSummary.tsx
  frontend/app/utils/utils.ts
  frontend/public/assets/images/solutions/face-payment/2pc-badminton-rackets.png
  frontend/public/assets/images/solutions/face-payment/football-soccer-ball.png
  frontend/public/assets/images/solutions/face-payment/glitter-silver-high-heels.png
  frontend/public/assets/images/solutions/face-payment/polka-dot-vintage-dress-red.png
Labels: enhancement, frontend

#114 fix Cam width and height looks small when cam not active
  frontend/app/components/modules/Cam/Cam.module.scss
  frontend/app/components/modules/Cam/Cam.tsx
  frontend/public/assets/images/face-cam-overlay-rect.png
Labels: bug

#115 Fix AnalyticResult not work with ekyc ocr-ktp
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.module.scss
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResultWrapper/AnalyticsResultWrapper.module.scss
  frontend/app/components/templates/EkycPage/EkycPage.module.scss
  frontend/app/components/templates/EkycPage/EkycPage.tsx
Labels: bug, enhancement

#113 [Beat] Reformat Phone Number in Face Payment Registration
  backend/controllers/face_payment.go
  backend/controllers/session.go
  backend/models/face_payment.go
Labels: enhancement, backend

#118 Add face-mask & people-density analytic
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResult/analytics_result.json
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
  frontend/public/assets/images/analytics/face-demography.png
  frontend/public/assets/images/analytics/face-mask.png
  frontend/public/assets/images/analytics/face-mask/example1.jpg
  frontend/public/assets/images/analytics/face-mask/example2.jpg
  frontend/public/assets/images/analytics/face-mask/example3.jpg
  frontend/public/assets/images/analytics/people-density.png
  frontend/public/assets/images/analytics/people-density/example1.jpg
  frontend/public/assets/images/analytics/people-density/example2.jpg
  frontend/public/assets/images/analytics/people-density/example3.jpg
Labels: enhancement, frontend

#119 Disabled pin form
  frontend/app/components/elements/PinInput/PinInput.tsx
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
Labels: enhancement, frontend

#121 [FE] Face payment main menu
  CHANGELOG.md
  frontend/app/api/paymentAPI.ts
  frontend/app/components/elements/MenuButton/MenuButton.module.scss
  frontend/app/components/elements/MenuButton/MenuButton.tsx
  frontend/app/components/modules/PaymentMenu/PaymentMenu.module.scss
  frontend/app/components/modules/PaymentMenu/PaymentMenu.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
Labels: enhancement, frontend

#120 Add face demography analytic
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResult/analytics_result.json
  frontend/public/assets/images/analytics/face-demography.png
  frontend/public/assets/images/analytics/face-demography/banner.jpg
  frontend/public/assets/images/analytics/face-demography/example1.jpg
  frontend/public/assets/images/analytics/face-demography/example2.jpg
  frontend/public/assets/images/analytics/face-demography/example3.jpg
  frontend/public/assets/images/analytics/face-mask/banner.jpg
  frontend/public/assets/images/analytics/face-mask/example1.jpg
  frontend/public/assets/images/analytics/face-mask/example2.jpg
  frontend/public/assets/images/analytics/face-mask/example3.jpg
  frontend/public/assets/images/analytics/people-density/banner.jpg
Labels: enhancement, frontend

#117 Beat/payment & Check Session Id
  backend/README.md
  backend/controllers/analytic.go
  backend/controllers/face_payment.go
  backend/controllers/request.go
  backend/models/face_payment.go
  backend/routes.go
Labels: documentation, enhancement, backend

#122 [Beat] Update response error code face payment
  backend/README.md
  backend/controllers/face_payment.go
Labels: improvement, backend

#116 Feat/face payment
  frontend/app/api/paymentAPI.ts
  frontend/app/components/elements/BigInput/BigInput.module.scss
  frontend/app/components/elements/BigInput/BigInput.tsx
  frontend/app/components/modules/FaceRegistration/FaceRegistration.tsx
  frontend/app/components/modules/PaymentPay/PaymentPay.module.scss
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/constants/localStorage.ts
  frontend/app/types/responses.ts
Labels: enhancement, frontend

#123 Update CHANGELOG.md release V0.3.0
  CHANGELOG.md
Labels: documentation, backend, frontend

#126 Feat/fix face payment
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
Labels: bug, frontend

#125 Modify Homepage, Navbar, Footer, Carousel
  CHANGELOG.md
  frontend/app/components/layouts/Footer/Footer.module.scss
  frontend/app/components/layouts/Footer/Footer.tsx
  frontend/app/components/modules/Carousel/Carousel.module.scss
  frontend/app/components/modules/Carousel/Carousel.tsx
  frontend/app/components/modules/CarouselItem/CarouselItem.module.scss
  frontend/app/components/modules/CarouselItem/CarouselItem.tsx
  frontend/app/components/modules/Navbar/Navbar.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/styles/abstracts/_variables.scss
  frontend/app/types/elements.ts
  frontend/public/assets/icons/arrow-down.svg
  frontend/public/assets/images/analytics.png
  frontend/public/assets/images/cover.jpg
  frontend/public/assets/images/cover1.png
  frontend/public/assets/images/cover2.png
  frontend/public/assets/images/cover3.png
  frontend/public/assets/images/identifai-white.png
  frontend/public/assets/images/nodeflux-logo.png
  frontend/public/assets/images/solutions.png
  frontend/public/assets/images/visionaire-white.png
Labels: enhancement, frontend

#124 [Beat] Refactor Get Active Account & Remove Check Limit on Face Payment
  CHANGELOG.md
  backend/README.md
  backend/controllers/face_payment.go
  backend/models/face_payment.go
  backend/routes.go
Labels: documentation, enhancement, backend

#129 Fix eslint configuration
  CHANGELOG.md
  backend/README.md
  backend/controllers/face_payment.go
  backend/models/face_payment.go
  backend/routes.go
  frontend/.eslintrc.json
  frontend/app/api/paymentAPI.ts
  frontend/app/components/elements/Button/Button.tsx
  frontend/app/components/elements/MenuButton/MenuButton.tsx
  frontend/app/components/elements/Modal/Modal.tsx
  frontend/app/components/elements/PinInput/PinInput.tsx
  frontend/app/components/elements/Star/Star.tsx
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResultWrapper/AnayticsResultWrapper.tsx
  frontend/app/components/modules/Cam/Cam.tsx
  frontend/app/components/modules/CardImage/CardImage.tsx
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/FaceRegistration/FaceRegistration.tsx
  frontend/app/components/modules/Feedback/Feedback.tsx
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/modules/OrderSummary/OrderSummary.tsx
  frontend/app/components/modules/PaymentForm/PaymentForm.tsx
  frontend/app/components/modules/PaymentMenu/PaymentMenu.tsx
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
  frontend/app/components/modules/PaymentSetup/PaymentSetup.tsx
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.tsx
  frontend/app/components/modules/RequestDemoFormPopup/RequestDemoFormModal.tsx
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/types/elements.ts
  frontend/app/utils/utils.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: frontend

#130 [Beat] Add Innovation OCR Receipt Recognition (OCR Struk)
  .env.example
  CHANGELOG.md
  backend/.env.example
  backend/controllers/innovation.go
  backend/controllers/request.go
  backend/controllers/service.go
  backend/database/seed.go
Labels: enhancement, backend

#131 Fix OCR KTP Camera and Photo Compression
  CHANGELOG.md
  frontend/.eslintrc.json
  frontend/app/components/modules/Cam/Cam.module.scss
  frontend/app/components/modules/Cam/Cam.tsx
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/hooks/useMediaQuery.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: bug, frontend

#128 [Beat] Update description on seeds data
  CHANGELOG.md
  backend/database/seed.go
Labels: improvement, backend

#127 Add custom error handler when fetching data
  CHANGELOG.md
  frontend/app/api/activitiesAPI.ts
  frontend/app/api/analyticsAPI.ts
  frontend/app/api/feedbackAPI.ts
  frontend/app/api/paymentAPI.ts
  frontend/app/api/solutionsAPI.ts
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/PaymentForm/PaymentForm.tsx
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/constants/message.ts
  frontend/app/errors/CustomError.ts
  frontend/app/types/responses.ts
  frontend/app/utils/errorHandler.ts
Labels: enhancement, frontend

#134 Fix cannot use external webcam
  CHANGELOG.md
  frontend/app/components/modules/Cam/Cam.tsx
Labels: bug, frontend

#135 [FE] Fixing GetActiveAccount API call
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
Labels: bug, frontend

#133 [Beat] Add Reset Balance Account on Face Payment
  CHANGELOG.md
  backend/README.md
  backend/controllers/face_payment.go
  backend/routes.go
Labels: documentation, enhancement, backend

#136 make big input responsive
  CHANGELOG.md
  frontend/app/components/elements/BigInput/BigInput.module.scss
Labels: enhancement, improvement, frontend

#138 Add shopping balance to the Catalog, Modify Catalog shopping items
  CHANGELOG.md
  frontend/app/components/modules/Cart/Cart.module.scss
  frontend/app/components/modules/Catalog/Catalog.module.scss
  frontend/app/components/modules/Catalog/Catalog.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/types/responses.ts
  frontend/public/assets/icons/balance-icon.svg
  frontend/public/assets/images/solutions/face-payment/2pc-badminton-rackets.png
  frontend/public/assets/images/solutions/face-payment/black-hoodie.png
  frontend/public/assets/images/solutions/face-payment/glitter-silver-high-heels.png
  frontend/public/assets/images/solutions/face-payment/hair-clips.png
  frontend/public/assets/images/solutions/face-payment/polka-dot-vintage-dress.png
  frontend/public/assets/images/solutions/face-payment/soccer-ball.png
  frontend/public/assets/images/solutions/face-payment/teh-botol.png
Labels: enhancement, frontend

#137 Feat/delete local storage if face analytic failed
  CHANGELOG.md
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
Labels: enhancement, improvement, frontend

#142 Modify some of face-payment wording
  CHANGELOG.md
  frontend/app/components/modules/PaymentForm/PaymentForm.tsx
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
Labels: enhancement, frontend

#141 FEAT/ new face payment check and reset balance
  CHANGELOG.md
  frontend/app/api/paymentAPI.ts
  frontend/app/components/modules/PaymentPay/PaymentPay.module.scss
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/public/assets/icons/coin.svg
Labels: enhancement, frontend

#144 Add link to contact us in Navbar
  CHANGELOG.md
  frontend/app/components/modules/Navbar/Navbar.tsx
Labels: enhancement, frontend

#143 Set max-width and remove shortDescription on Banner
  CHANGELOG.md
  frontend/app/components/modules/AnalyticsContainer/AnalyticsContainer.tsx
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/modules/Banner/Banner.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/styles/abstracts/_variables.scss
  frontend/pages/_document.tsx
  frontend/pages/analytics/[analytic_name].tsx
  frontend/pages/solutions/ekyc.tsx
  frontend/pages/solutions/face-payment.tsx
Labels: enhancement, frontend

#146 fix minimum payment for pin input accept 1000000
  CHANGELOG.md
  frontend/app/components/modules/PaymentSetup/PaymentSetup.tsx
Labels: improvement, frontend

#147 Update ActivationForm 'pin' wording
  CHANGELOG.md
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
Labels: enhancement, frontend

#145 [FE] OCR Receipt Innovation Page
  CHANGELOG.md
  frontend/app/api/innovationsAPI.ts
  frontend/app/components/modules/AnalyticsResultWrapper/AnayticsResultWrapper.tsx
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.module.scss
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/app/utils/utils.ts
  frontend/pages/innovations/[innovation_name].tsx
  frontend/public/assets/images/innovations/ocr-receipt.png
  frontend/public/assets/images/innovations/ocr-receipt/example1.jpg
  frontend/public/assets/images/innovations/ocr-receipt/example2.jpg
  frontend/public/assets/images/innovations/ocr-receipt/example3.jpg
Labels: enhancement, frontend

#149 add text align center to ekyc ocr error msg
  frontend/app/components/templates/EkycPage/EkycPage.module.scss
  frontend/app/components/templates/EkycPage/EkycPage.tsx
Labels: bug, improvement, frontend

#151 Update description OCR KTP & OCR Receipt
  backend/database/seed.go
Labels: improvement, backend, frontend

#150 add entrypoint for command seed only
  CHANGELOG.md
  backend/docker-entrypoint.sh
Labels: backend

#155 [Frontend] Quick fix on phone number input field
  CHANGELOG.md
  frontend/app/components/modules/PaymentForm/PaymentForm.tsx
Labels: frontend

#156 [Frontend] New sample photo on OCR innovation & numerical keyboard on mobile browser
  CHANGELOG.md
  frontend/app/components/elements/PinInput/PinInput.tsx
  frontend/public/assets/images/innovations/ocr-receipt/example1.jpg
  frontend/public/assets/images/innovations/ocr-receipt/example2.jpg
  frontend/public/assets/images/innovations/ocr-receipt/example3.jpg
Labels: frontend

#153 Sticky Navbar, Fix Carousel still slide when dot clicked
  CHANGELOG.md
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/modules/Carousel/Carousel.tsx
  frontend/app/components/modules/CarouselItem/CarouselItem.module.scss
  frontend/app/components/modules/Navbar/Navbar.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/public/assets/images/nodeflux-logo.png
Labels: bug, enhancement, frontend

#154 Make analytic cards smaller on mobile devices
  CHANGELOG.md
  frontend/app/components/modules/CardImage/CardImage.module.scss
  frontend/app/components/modules/CardImage/CardImage.tsx
  frontend/app/components/modules/Catalog/Catalog.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
Labels: enhancement, frontend

#160 [Beat] Update HTTP Requester for Innovation to Use env BASE_URL Dinamically by Slug
  .env.example
  .gitignore
  CHANGELOG.md
  backend/.env.example
  backend/controllers/innovation.go
  backend/database/seed.go
Labels: improvement, backend

#158 [Frontend] Improvements on OCR innovations result display
  CHANGELOG.md
  frontend/app/components/elements/CodeSnippet/CodeSnippet.module.scss
  frontend/app/components/elements/CodeSnippet/CodeSnippet.tsx
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.module.scss
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.tsx
  frontend/app/styles/abstracts/_variables.scss
  frontend/app/styles/base/_base.scss
  frontend/app/types/elements.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/innovations/[innovation_name].tsx
  frontend/public/assets/icons/copy.svg
Labels: enhancement, frontend

#161 Update banner images, Modify banner styles
  CHANGELOG.md
  frontend/app/components/modules/AnalyticsContainer/AnalyticsContainer.tsx
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/modules/Banner/Banner.tsx
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/public/assets/images/analytics/face-demography/banner.jpg
  frontend/public/assets/images/analytics/face-demography/banner.png
  frontend/public/assets/images/analytics/face-mask/banner.jpg
  frontend/public/assets/images/analytics/face-mask/banner.png
  frontend/public/assets/images/analytics/face-match-enrollment/banner.jpg
  frontend/public/assets/images/analytics/face-match-enrollment/banner.png
  frontend/public/assets/images/analytics/license-plate-recognition/banner.jpg
  frontend/public/assets/images/analytics/license-plate-recognition/banner.png
  frontend/public/assets/images/analytics/ocr-ktp/banner.jpg
  frontend/public/assets/images/analytics/ocr-ktp/banner.png
  frontend/public/assets/images/analytics/people-density/banner.jpg
  frontend/public/assets/images/analytics/people-density/banner.png
  frontend/public/assets/images/solutions/ekyc/banner.png
  frontend/public/assets/images/solutions/face-payment/banner.png
Labels: enhancement, frontend

#162 Update contact us link, Add products, company, and social media links
  CHANGELOG.md
  frontend/app/components/layouts/Footer/Footer.module.scss
  frontend/app/components/layouts/Footer/Footer.tsx
  frontend/app/components/modules/Navbar/Navbar.tsx
Labels: enhancement, frontend

#165 [Beat] Update HTTP Requester for Innovation lagi
  CHANGELOG.md
  backend/controllers/innovation.go
  backend/database/seed.go
Labels: improvement, backend

#163 Feat/horizontal card
  CHANGELOG.md
  frontend/app/components/modules/HorizontalCard/HorizontalCard.module.scss
  frontend/app/components/modules/HorizontalCard/HorizontalCard.tsx
Labels: enhancement, frontend

#159 Slide/swipe solution cards
  CHANGELOG.md
  frontend/app/components/modules/CardFull/CardFull.module.scss
  frontend/app/components/modules/CardFull/CardFull.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/styles/app.scss
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/images/solutions/ekyc.png
  frontend/public/assets/images/solutions/face-payment.png
  frontend/tsconfig.json
Labels: enhancement, frontend

#167 Fix title head in [analytic-name]
  CHANGELOG.md
  frontend/pages/analytics/[analytic_name].tsx
Labels: bug, frontend

#168 [Frontend] Display OCR receipt new response payload
  frontend/app/api/innovationsAPI.ts
  frontend/app/components/elements/CodeSnippet/CodeSnippet.module.scss
  frontend/app/components/elements/CodeSnippet/CodeSnippet.tsx
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.tsx
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/app/utils/utils.ts
Labels: bug, frontend

#170 [Frontend] Hotfix on innovations response type
  frontend/app/api/innovationsAPI.ts
  frontend/app/types/responses.ts
Labels: bug, frontend

#164 create responsive image component
  CHANGELOG.md
  frontend/app/components/modules/ResponsiveImage/ResponsiveImage.module.scss
  frontend/app/components/modules/ResponsiveImage/ResponsiveImage.tsx
Labels: enhancement, frontend

#166 fix horiontal card render issue
  frontend/app/components/modules/HorizontalCard/HorizontalCard.tsx
Labels: bug, frontend

#171 [Beat] Add new innovation Car Damage Assessment
  CHANGELOG.md
  backend/database/seed.go
Labels: enhancement, backend

#172 Feat/horizontal card content
  CHANGELOG.md
  frontend/app/components/modules/HCardContent/HCardContent.module.scss
  frontend/app/components/modules/HCardContent/HCardContent.tsx
Labels: enhancement, frontend
