Repository nodefluxio/weber, pull requests merged in 2021-12, with the labels that each got.

#169 add logging system use logrus
  CHANGELOG.md
  backend/.env.example
  backend/controllers/activity.go
  backend/controllers/analytic.go
  backend/controllers/ekyc.go
  backend/controllers/face_payment.go
  backend/controllers/feedback.go
  backend/controllers/innovation.go
  backend/controllers/request.go
  backend/controllers/service.go
  backend/controllers/session.go
  backend/controllers/visitor.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/models/face_payment.go
  backend/models/feedback.go
  backend/models/service.go
  backend/models/visitor.go
  backend/models/visitor_activity.go
  backend/routes.go
Labels: improvement, backend

#175 Edit minimal input to 5 char for job title, company name in request demo form, fix sticky navbar
  CHANGELOG.md
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.tsx
  frontend/app/components/templates/RequestDemoPage/RequestDemoPage.module.scss
Labels: bug, enhancement, frontend

#176 [Frontend] Scrollable analytic result + loading state
  CHANGELOG.md
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.module.scss
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResult/analytics_result.json
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.module.scss
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
Labels: improvement, frontend

#177 [Beat] Add New Innovation Face Occlusion & Attribute
  CHANGELOG.md
  backend/controllers/innovation.go
  backend/controllers/request.go
  backend/database/seed.go
Labels: enhancement, backend

#178 create optional onClick props on Responsive Image component
  frontend/app/components/modules/ResponsiveImage/ResponsiveImage.tsx
Labels: enhancement, frontend

#180 remove non compoent specific style from horizontal card component
  frontend/app/components/modules/HCardContent/HCardContent.module.scss
Labels: bug, frontend

#173 [Frontend] Fix display issues on Safari browsers
  CHANGELOG.md
  frontend/app/components/elements/PinInput/PinInput.module.scss
  frontend/app/components/modules/ActivationForm/ActivationForm.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.module.scss
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/Feedback/Feedback.module.scss
  frontend/app/components/modules/Feedback/Feedback.tsx
  frontend/app/components/modules/PaymentForm/PaymentForm.module.scss
  frontend/app/components/modules/PaymentMenu/PaymentMenu.module.scss
  frontend/app/components/modules/PaymentPay/PaymentPay.module.scss
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
  frontend/app/components/templates/EkycPage/EkycPage.module.scss
  frontend/app/styles/base/_base.scss
Labels: bug, improvement, frontend

#181 [Frontend] Refactor OCR Receipt Innovation
  CHANGELOG.md
  frontend/pages/innovations/ocr-receipt.tsx
  frontend/public/assets/images/innovations/ocr-receipt/example1.jpg
Labels: improvement, frontend

#179 Feat/Car Damage Assessment
  CHANGELOG.md
  frontend/app/api/innovationsAPI.ts
  frontend/app/components/templates/CarDamage/CarDamagePage.module.scss
  frontend/app/components/templates/CarDamage/CarDamagePage.tsx
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/app/utils/utils.ts
  frontend/pages/innovations/car-damage.tsx
  frontend/public/assets/images/innovations/car-damage/front_good.jpg
  frontend/public/assets/images/innovations/car-damage/front_minor.jpg
  frontend/public/assets/images/innovations/car-damage/front_moderate.jpg
  frontend/public/assets/images/innovations/car-damage/front_severe.jpg
  frontend/public/assets/images/innovations/car-damage/rear_good.jpg
  frontend/public/assets/images/innovations/car-damage/rear_minor.jpg
  frontend/public/assets/images/innovations/car-damage/rear_moderate.jpg
  frontend/public/assets/images/innovations/car-damage/rear_severe.jpg
  frontend/public/assets/images/innovations/car-damage/side_good.jpg
  frontend/public/assets/images/innovations/car-damage/side_minor.jpg
  frontend/public/assets/images/innovations/car-damage/side_moderate.jpg
  frontend/public/assets/images/innovations/car-damage/side_severe.jpg
Labels: enhancement, frontend

#183 Add Face Occlusion Attribute , ProgressBar, Tabs components
  frontend/app/api/innovationsAPI.ts
  frontend/app/components/elements/ProgressBar/ProgressBar.module.scss
  frontend/app/components/elements/ProgressBar/ProgressBar.tsx
  frontend/app/components/elements/Tab/Tab.tsx
  frontend/app/components/elements/TabTitle/TabTitle.module.scss
  frontend/app/components/elements/TabTitle/TabTitle.tsx
  frontend/app/components/modules/Tabs/Tabs.module.scss
  frontend/app/components/modules/Tabs/Tabs.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.module.scss
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.tsx
  frontend/app/constants/constant.ts
  frontend/app/styles/base/_base.scss
  frontend/app/types/elements.ts
  frontend/app/types/responses.ts
  frontend/app/types/results.ts
  frontend/pages/innovations/face-occlusion-attribute.tsx
  frontend/pages/innovations/ocr-receipt.tsx
  frontend/public/assets/images/innovations/face-occlusion-attribute/example1.jpg
  frontend/public/assets/images/innovations/face-occlusion-attribute/example2.jpg
  frontend/public/assets/images/innovations/face-occlusion-attribute/example3.jpg
Labels: enhancement, frontend

#184 [Beat] Update description face demography
  backend/database/seed.go
Labels: improvement, backend

#185 [Feat] Update FAQ and Press link in footer
  frontend/app/components/layouts/Footer/Footer.tsx
Labels: bug, improvement, frontend

#186 Updating Current Face Payment Copywriting to Match with Wireframe
  CHANGELOG.md
  backend/database/seed.go
  frontend/app/components/modules/ActivationForm/ActivationForm.tsx
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.module.scss
  frontend/app/components/modules/FaceEnrollment/FaceEnrollment.tsx
  frontend/app/components/modules/PaymentForm/PaymentForm.tsx
  frontend/app/components/modules/PaymentPay/PaymentPay.module.scss
  frontend/app/components/modules/PaymentPay/PaymentPay.tsx
  frontend/app/components/modules/PaymentSetup/PaymentSetup.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
Labels: improvement, backend, frontend

#189 [Feat] Justifying text description in banner service page
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/modules/Banner/Banner.tsx
Labels: improvement, frontend

#187 [Feat] Update Banner Text Title & secondTitle
  frontend/app/components/templates/HomePage/HomePage.tsx
Labels: improvement, frontend

#190 [Feat] Update homepage banner images
  frontend/public/assets/images/cover1.png
  frontend/public/assets/images/cover2.png
  frontend/public/assets/images/cover3.png
Labels: improvement, frontend

#191 Fix/global styling
  frontend/app/components/elements/Modal/Modal.module.scss
  frontend/app/components/layouts/Footer/Footer.tsx
  frontend/app/components/modules/AnalyticsContainer/AnalyticsContainer.tsx
  frontend/app/components/modules/Banner/Banner.module.scss
  frontend/app/components/modules/Banner/Banner.tsx
  frontend/app/components/modules/Feedback/Feedback.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/templates/CarDamage/CarDamagePage.tsx
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.module.scss
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/components/templates/RequestDemoPage/RequestDemoPage.tsx
  frontend/app/styles/app.scss
Labels: bug, enhancement, frontend

#192 fix hero section text too wide on mobile screen
  CHANGELOG.md
  frontend/app/components/templates/HomePage/HomePage.module.scss
Labels: bug, frontend

#188 [Frontend] Refactor dropzone to handle various file formats & fix display issues on Firefox
  CHANGELOG.md
  frontend/app/components/elements/WarningDiv/WarningDiv.module.scss
  frontend/app/components/elements/WarningDiv/WarningDiv.tsx
  frontend/app/components/modules/ActivationForm/ActivationForm.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
  frontend/app/components/modules/Feedback/Feedback.module.scss
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.module.scss
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.module.scss
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.tsx
  frontend/app/styles/abstracts/_variables.scss
  frontend/pages/analytics/[analytic_name].tsx
  frontend/pages/innovations/ocr-receipt.tsx
  frontend/public/assets/icons/error-icon.svg
Labels: bug, frontend

#182 [Beat] additional logging
  backend/controllers/activity.go
  backend/controllers/analytic.go
  backend/controllers/ekyc.go
  backend/controllers/face_payment.go
  backend/controllers/feedback.go
  backend/controllers/innovation.go
  backend/controllers/request.go
  backend/controllers/service.go
  backend/controllers/session.go
  backend/controllers/visitor.go
  backend/models/face_payment.go
  backend/models/feedback.go
  backend/models/service.go
  backend/models/visitor.go
  backend/models/visitor_activity.go
Labels: improvement, backend

#193 [Frontend] Analytic error handling display
  CHANGELOG.md
  frontend/app/api/analyticsAPI.ts
  frontend/app/components/elements/WarningDiv/WarningDiv.module.scss
  frontend/app/components/elements/WarningDiv/WarningDiv.tsx
  frontend/app/components/modules/AnalyticsResultWrapper/AnalyticsResultWrapper.module.scss
  frontend/app/components/modules/AnalyticsResultWrapper/AnayticsResultWrapper.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.module.scss
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
Labels: bug, frontend

#194 [Changelog] Update changelog v0.5.0
  CHANGELOG.md
Labels: documentation

#196 [Frontend] Renew solution card stylings
  CHANGELOG.md
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
Labels: improvement, frontend

#201 [Beat] Add new service type "solution-partner"
  CHANGELOG.md
  backend/README.md
  backend/controllers/service.go
  backend/models/service.go
Labels: enhancement, backend

#199 Change face occlusion & attribute example one
  CHANGELOG.md
  frontend/public/assets/images/innovations/face-occlusion-attribute/example1.jpg
Labels: enhancement, frontend

#198 fix banner text to align navbar
  frontend/app/components/modules/Banner/Banner.module.scss
Labels: improvement, frontend

#200 Update background and Banner images for all innovations
  CHANGELOG.md
  backend/database/seed.go
  frontend/app/components/modules/AnalyticsContainer/AnalyticsContainer.tsx
  frontend/app/components/templates/AnalyticsPage/AnalyticsPage.tsx
  frontend/app/components/templates/CarDamage/CarDamagePage.tsx
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.tsx
  frontend/pages/innovations/ocr-receipt.tsx
  frontend/public/assets/images/innovations/car-damage.jpg
  frontend/public/assets/images/innovations/car-damage/banner.jpg
  frontend/public/assets/images/innovations/face-occlusion-attribute.png
  frontend/public/assets/images/innovations/face-occlusion-attribute/banner.png
  frontend/public/assets/images/innovations/ocr-receipt.jpg
  frontend/public/assets/images/innovations/ocr-receipt.png
  frontend/public/assets/images/innovations/ocr-receipt/banner.png
  frontend/public/assets/images/innovations/ocr-receipt/ocr-receipt-min.png
  frontend/public/assets/images/innovations/rotten-fruit.png
Labels: enhancement, frontend

#202 Feat/solution partner
  CHANGELOG.md
  backend/controllers/activity.go
  backend/database/seed.go
  backend/models/service.go
  frontend/app/components/modules/CardFull/CardFull.tsx
  frontend/app/components/modules/RequestDemoFormPopup/RequestDemoFormPopup.module.scss
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/pages/index.tsx
  frontend/public/assets/images/solutions/citizen-apps.png
  frontend/public/assets/images/solutions/hris.png
  frontend/public/assets/images/solutions/road-traffic-monitoring.png
Labels: enhancement, frontend

#203 [Beat] Update Activities Endpoint for Solution Partner
  CHANGELOG.md
  backend/controllers/activity.go
  backend/database/seed.go
  backend/models/service.go
Labels: enhancement, backend

#197 Add Count field in people-density analytic
  CHANGELOG.md
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
Labels: enhancement, frontend

#205 [Frontend] Adjusting solution card text width
  frontend/app/components/templates/HomePage/HomePage.module.scss
Labels: bug, frontend

#204 Add Additional Solution Partner
  CHANGELOG.md
  backend/database/seed.go
  frontend/public/assets/images/solutions/komune-logo-square.png
  frontend/public/assets/images/solutions/road-traffic-monitoring.png
  frontend/public/assets/images/solutions/sijitu.png
Labels: enhancement, backend, frontend

#208 [Frontend] update logo nvdia and nist
  frontend/public/assets/images/nist-logo.png
  frontend/public/assets/images/nvidia-logo.png
Labels: enhancement, frontend

#207 Update Description Citizen Apps & Change Logo Sijitu to White Version
  backend/database/seed.go
  frontend/public/assets/images/solutions/sijitu.png
Labels: enhancement, backend, frontend

#206 [Frontend] OCR Receipt New Display
  CHANGELOG.md
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.module.scss
  frontend/app/components/modules/ReceiptDisplay/ReceiptDisplay.tsx
  frontend/app/styles/base/_base.scss
Labels: improvement, frontend

#210 Add message does the face occluded or not
  CHANGELOG.md
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.module.scss
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.tsx
Labels: enhancement, frontend

#211 [Beat] Update Activities Endpoint for "AML / PEP (Sijitu)" Service
  CHANGELOG.md
  backend/controllers/activity.go
  backend/database/seed.go
Labels: improvement, backend

#215 Update OCR KTP Samples Image
  CHANGELOG.md
  frontend/public/assets/images/analytics/ocr-ktp/example1.jpg
  frontend/public/assets/images/analytics/ocr-ktp/example2.jpg
  frontend/public/assets/images/analytics/ocr-ktp/example3.jpg
Labels: enhancement, frontend

#212 [Backend] Update Description Face Occlusion Attribute
  CHANGELOG.md
  backend/database/seed.go
Labels: enhancement, backend

#214 modify new-innovations layout and style in HomePage
  CHANGELOG.md
  backend/database/seed.go
  frontend/app/components/modules/ResponsiveImage/ResponsiveImage.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/public/assets/images/innovations-01.png
  frontend/public/assets/images/innovations/car-damage.jpg
  frontend/public/assets/images/innovations/face-occlusion-attribute.jpg
  frontend/public/assets/images/innovations/face-occlusion-attribute.png
  frontend/public/assets/images/innovations/ocr-receipt/ocr-receipt-min.png
  frontend/public/assets/images/smartcity.png
Labels: enhancement, frontend

#216 Change next Image component to img tag in Dropzone examples
  CHANGELOG.md
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
Labels: enhancement, frontend

#217 [Frontend] Implemented app store modal
  CHANGELOG.md
  frontend/.env.example
  frontend/app/components/modules/CardFull/CardFull.tsx
  frontend/app/components/modules/DownloadApp/DownloadApp.module.scss
  frontend/app/components/modules/DownloadApp/DownloadApp.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/constants/constant.ts
  frontend/public/assets/images/apple-app-store.svg
  frontend/public/assets/images/google-play-badge.svg
Labels: enhancement, frontend

#218 Update Copywriting
  backend/README.md
  backend/controllers/feedback.go
  frontend/app/components/modules/Navbar/Navbar.module.scss
  frontend/app/components/modules/Navbar/Navbar.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
Labels: enhancement, backend, frontend

#222 Update Link to Demo HRIS & Update Logo Komune, Caliana, JAKI Solution Partner
  backend/database/seed.go
  frontend/public/assets/images/solutions/citizen-apps.png
  frontend/public/assets/images/solutions/hris.png
  frontend/public/assets/images/solutions/komune-logo-square.png
Labels: enhancement, backend, frontend

#219 [Frontend] Implemented AML/PEP Modal
  frontend/.env.example
  frontend/app/components/modules/MailConfirmation/MailConfirmation.module.scss
  frontend/app/components/modules/MailConfirmation/MailConfirmation.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/constants/constant.ts
  frontend/public/assets/icons/email-icon.svg
  frontend/public/assets/icons/thankyou.svg
Labels: enhancement, frontend

#220 Add compared photo in FME results
  CHANGELOG.md
  frontend/app/components/modules/AnalyticsResult/AnalyticsResult.tsx
  frontend/app/components/modules/AnalyticsResult/analytics_result.json
  frontend/public/assets/images/analytics/face-match-enrollment/compared.jpg
Labels: enhancement, frontend

#213 Feat/special instruction
  CHANGELOG.md
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.module.scss
  frontend/app/components/modules/DropzoneOptions/DropzoneOptions.tsx
  frontend/app/components/templates/EkycPage/EkycPage.module.scss
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.module.scss
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/utils/utils.ts
Labels: enhancement, frontend

#224 [Frontend] Custom error page
  CHANGELOG.md
  frontend/app/components/templates/CustomErrorPage/CustomErrorPage.module.scss
  frontend/app/components/templates/CustomErrorPage/CustomErrorPage.tsx
  frontend/pages/404.tsx
Labels: enhancement, frontend

#223 Feat/change upload limit
  CHANGELOG.md
  frontend/app/components/templates/FaceOcclusionAttributePage/FaceOcclusionAttributePage.tsx
  frontend/app/constants/constant.ts
  frontend/pages/analytics/[analytic_name].tsx
  frontend/pages/innovations/ocr-receipt.tsx
Labels: enhancement, frontend

#221 compress some assets
  frontend/public/assets/images/analytics/face-match-enrollment/example1.jpg
  frontend/public/assets/images/analytics/face-match-enrollment/example3.jpg
  frontend/public/assets/images/analytics/license-plate-recognition/example1.jpg
  frontend/public/assets/images/solutions/sijitu.png
Labels: enhancement, frontend

#225 Add terms & conditions in request form
  frontend/app/components/elements/Label/Label.tsx
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.module.scss
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.tsx
  frontend/app/components/templates/HomePage/HomePage.module.scss
  frontend/public/assets/images/analytics/face-match-enrollment/compared.jpg
Labels: enhancement, frontend

#229 [Frontend] Add loading state feedback
  frontend/app/components/modules/Feedback/Feedback.module.scss
  frontend/app/components/modules/Feedback/Feedback.tsx
Labels: bug, frontend

#231 Add Frontend & Backend Documentation Navigator in Main README
  README.md
Labels: documentation, backend, frontend

#232 add push-image-frontend and push-image-backend
  .github/workflows/CI-docker.yml
Labels: devops
