Repository nodefluxio/weber, pull requests merged in 2022-01, with the labels that each got.

#237 fix modal X button position
  CHANGELOG.md
  frontend/app/components/elements/Modal/Modal.tsx
Labels: enhancement, frontend

#240 modify width NIST logo lg breakpoints to make it smaller
  CHANGELOG.md
  frontend/app/components/layouts/Footer/Footer.tsx
Labels: enhancement, frontend

#238 Integrate Google Analytics
  CHANGELOG.md
  frontend/.env.example
  frontend/app/constants/constant.ts
  frontend/pages/_document.tsx
Labels: enhancement

#239 Revamp solution card to use new assets
  CHANGELOG.md
  backend/database/seed.go
  frontend/app/components/modules/CardFull/CardFull.tsx
  frontend/app/components/modules/SolutionCard/SolutionCard.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/public/assets/images/solutions/AML-PEP.jpg
  frontend/public/assets/images/solutions/citizen-apps.jpg
  frontend/public/assets/images/solutions/citizen-apps.png
  frontend/public/assets/images/solutions/covid-solution.jpg
  frontend/public/assets/images/solutions/ekyc.jpg
  frontend/public/assets/images/solutions/ekyc.png
  frontend/public/assets/images/solutions/face-payment.jpg
  frontend/public/assets/images/solutions/face-payment.png
  frontend/public/assets/images/solutions/hris.jpg
  frontend/public/assets/images/solutions/hris.png
  frontend/public/assets/images/solutions/komune-logo-square.png
  frontend/public/assets/images/solutions/road-traffic-monitoring.jpg
  frontend/public/assets/images/solutions/sijitu.png
Labels: enhancement, frontend

#241 [Frontend] Solution Carousel Adjustments
  CHANGELOG.md
  frontend/app/components/templates/EkycPage/EkycPage.tsx
  frontend/app/components/templates/FacePaymentPage/FacePaymentPage.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/app/styles/app.scss
Labels: improvement, frontend

#242 [HOTFIX] Solution partner external link
  CHANGELOG.md
  frontend/app/components/modules/SolutionCard/SolutionCard.tsx
  frontend/app/components/templates/HomePage/HomePage.tsx
Labels: bug

#244 [Backend] Add company size column on visitor
  CHANGELOG.md
  backend/models/visitor.go
Labels: enhancement, backend

#243 Modify analytic icon to use icon.png name instead of analytic thumbnail field
  CHANGELOG.md
  frontend/app/components/templates/HomePage/HomePage.tsx
  frontend/public/assets/images/analytics/face-demography/icon.png
  frontend/public/assets/images/analytics/face-mask/icon.png
  frontend/public/assets/images/analytics/face-match-enrollment/icon.png
  frontend/public/assets/images/analytics/license-plate-recognition/icon.png
  frontend/public/assets/images/analytics/ocr-ktp/icon.png
  frontend/public/assets/images/analytics/people-density/icon.png
Labels: enhancement, frontend

#245 [Frontend] Company size field on request form
  CHANGELOG.md
  frontend/app/components/elements/SelectBox/SelectBox.tsx
  frontend/app/components/modules/RequestDemoForm/RequestDemoForm.tsx
  frontend/app/components/modules/RequestDemoForm/company_size.json
  frontend/app/components/modules/RequestDemoForm/industry.json
Labels: enhancement, frontend

#246 Update Changelog v1.3.0
  CHANGELOG.md
Labels: documentation

#249 [Backend] Request for Passive Liveness Detection
  .env.example
  CHANGELOG.md
  backend/.env.example
  backend/README.md
  backend/controllers/analytic.go
  backend/controllers/passive_liveness.go
  backend/database/seed.go
  backend/models/service.go
  backend/routes.go
Labels: documentation, enhancement, backend

#250 Hotfix Passive Face Liveness Detection
  CHANGELOG.md
  backend/database/seed.go
  frontend/app/components/modules/LivenessReview/LivenessReview.tsx
  frontend/app/components/templates/PassiveLivenessPage/PassiveLivenessPage.tsx
  frontend/public/assets/images/solutions/passive-liveness.png
  frontend/public/assets/images/solutions/passive-liveness/banner.png
Labels: bug, backend, frontend
